@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input,
textarea,
button,
div,
Link,
select {
  border: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 5px;
}

.border-none {
  border: none
}

.p-0 {
  padding: 0;
}

#navigation-links {
  border-radius: 5px 5px 0 0;
}


input,
button,
Link {
  text-align: center;
  justify-content: center;
}

input,
textarea {
  background-color: #ffddff;
}

button {
  background-color: #ddffff;
  cursor: pointer;
}

.squareButtons {
  height: calc(var(--spacing) * 9);
  width: calc(var(--spacing) * 9);
  justify-content: center;
  align-items: center;
}

Link,
a {
  background-color: #ffffdd;
  cursor: pointer;
}

#logo {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 525;
  /*font-weight: 300 - 900*/
  font-style: normal;
  font-size: xx-large;
}

h1 {
  font-size: x-large;
  font-weight: bold
}

h2 {
  font-size: large;
  font-weight: bold
}