@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input, button, div, Link {
  border: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 5px;

}

input, button, Link {
  text-align: center;
  justify-content: center;
}

input {
  background-color: #ffddff;
}

button {
  background-color: #ddffff;
  cursor: pointer;
}

Link, a {
  background-color: #ffffdd;
  cursor: pointer;
}

h1 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550; /*300 - 900*/
  font-style: normal;
}

@import "tailwindcss";
